body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    width: 1400px;
}

h2{
  font-size:50px;
  font-weight: 400;
  margin: 0px;
}

h1{
    font-size: 60px;
    font-weight: 800;
    color: rgba(255, 20, 184, 0.945);
    margin: 0px;
  }


p{
 text-align: left;
 margin:40px 0px;
}

section{
  height: 800px;
}

.top-banner{
  background-image: url("images/header-bg.png");
  background-repeat: no-repeat;
}

.f-sec{
  width: 40%;
  float: left;
  margin-left:5%;
  padding-left: 2%;
  margin-top: 100px;

}
.f-sec img{
  width:100%;
}

.link-button{
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 30px;
    background-color:  rgba(255, 20, 145, 0.918);
    font-weight: 700;
    color:floralwhite;
    
}

.Biography{

  background-image: url("images/biography-bg.png");
  background-repeat: no-repeat;

}
.B-sec{
  width: 40%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;
  margin-top: 30px;
  
}
.r-part{
  padding-top: 100px;
}
.B-sec img{
  width:100%;
  
}
.latest-work{
 background-image: url("images/latest-work-bg.png");
 background-repeat: no-repeat;
}
.work{
  width:28%;
 float: left;
 margin-left: 3%;
 margin-top: 100px;

}
.work img{
  width: 100%;
}
.wr{
  text-align: center;
  margin-top: 120px;
}

.footer{
  background-image: url("images/footer-bg.png");
  background-repeat: no-repeat;
}
.ft{
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 80px;
}
.ft-1{
  text-align: center;
  
}
.ft-p{
  font-size: 12px;
  text-align: center;
  margin-bottom: 50px;
}
.box{
  border: 1px;
  border-radius: 10px;
  width: 30%;
  background-image: linear-gradient(45deg,rgba(255, 20, 184, 0.993),deeppink);
  margin-left: 440px;
  padding: 20px 40px 20px 40px;
  color: white;
}
.last{
  text-align: center;
  height: 200px;
}
